junk/
out/
target/
reports/
package/
lib_managed/
src_managed/
project/boot/
project/plugins/project
java_pid*.hprof
wip/
.DS_Store
*.swp
tags
.ensime
*.iml
*.log
.dbshell
*.tok
/.idea/
*.enc
.classpath
.project
.settings
.cache
atlassian-ide-plugin.xml

